.principal {
    & > div:nth-child(2) {
        display: flex;
        
        & > img {
            flex-basis: 65%;
        }

        & > div {
            flex-basis: 35%;
        }
    }

    & > div:nth-child(3){
        display: flex;
        
        & > div {
            flex-basis: 20%;
        }

        @media (max-width: 480px){
            display: block;
          }
    }

    
}