.principal {
    & > div:nth-child(2) {
        display: flex;
        
        .image-container {
            flex-basis: 65%;
            display: flex;
            justify-content: center;
            align-self: center;
            img {
                height: 60%;
            }
        }

        .text-container {
            flex-basis: 35%;
            

        }
    }

    & > div:nth-child(3){
        display: flex;
        
        & > div {
            flex-basis: 20%;
        }
        @media (max-width: 480px){           
            display: block;
          }
    }
}
.planet-text {
    @media (min-width: 943px) {
        display: flex;

    }
    @media (max-width: 942px) {
        display: flex;
        flex-direction: column;
    }
}
.text-container {
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;

        & > div:nth-child(3) {
                display: none;
        }
    }
    @media (max-width: 942px) {
        display: flex;
    }
}

.buttonmobile {
    display: none;

    @media (max-width: 480px){           
        display: block;
      }
}
