.cardInfo {
    border: 1px solid grey;
    width: 272px;
    height: 127px;
    font-weight: bold;
    text-align: start;
    padding: 15px 15px 30px;

     h2, p {
        margin: 0;
        padding: 0;
     }

     h2 {
        margin: 0 0 15px;
        color: gray;
        font-size: 1rem;
     };

     p {
        color: white;
        font-size: 3rem; 
     }; 
}