:root {
    --blue-grey: #38384F;
    --blue-dark: #070724;
    --blue-light: #2d68f0;
    --blue-lighter: #419EBB;
    --cyan: #1ec2a4;
    --grey: #838391;
    --yellow: #EDA249;
    --purple: #6f2ed6;
    --red-light: #D14C32;
    --red: #D83A34;
    --orange: #CD5120;
    --ff-primary: 'Spartan', sans-serif;
    --ff-secondary: 'Antonio', sans-serif;
  }

@media (min-width: 501px) {
    .container-btn-array-row {
        display: none;
    }

    .container-btn-array-col {
        display: flex;
        flex-direction: column;
        margin:auto;
        justify-content: center;
    }
    
    button {
        all: unset
    }
    
    .info-button {
        margin-bottom: 20px;
        width: 90%;
        text-align: left;
    }
    
    .nav-btn {
        display: block;
        text-decoration: none;
        outline: none;
        border: 1px solid rgba(216, 216, 216, 0.2);
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2.6px;
        line-height: 25px;
        padding: 10px 20px;
        font-size: 12px;
    }
    
    .nav-btn span {
        opacity: 0.5;
        margin-right: 15px;
    }

    .btn-active-mercury {
        background-color: var(--blue-lighter);
    }
    .btn-active-venus {
        background-color: var(--yellow);
    }
    .btn-active-earth {
        background-color:  var(--purple);
    }
    .btn-active-mars {
        background-color: var(--red-light);
    }
    .btn-active-jupiter {
        background-color:  var(--red);
    }
    .btn-active-saturn {
        background-color: var(--orange);
    }
    .btn-active-uranus {
        background-color: var(--cyan);
    }
    .btn-active-neptune {
        background-color:  var(--blue-lighter);
    }

    
    .nav-btn:not(
        .btn-active-venus, 
        .btn-active-mercury, 
        .btn-active-earth, 
        .btn-active-mars,
        .btn-active-jupiter,
        .btn-active-saturn,
        .btn-active-uranus,
        .btn-active-neptune  ):hover {
        cursor: pointer;
        background-color: rgba(216, 216, 216, 0.2);
        border: none;
    }
}
