:root {
    --blue-grey: #38384F;
    --blue-dark: #070724;
    --blue-light: #2d68f0;
    --blue-lighter: #419EBB;
    --cyan: #1ec2a4;
    --grey: #838391;
    --yellow: #EDA249;
    --purple: #6f2ed6;
    --red-light: #D14C32;
    --red: #D83A34;
    --orange: #CD5120;
    --ff-primary: 'Spartan', sans-serif;
    --ff-secondary: 'Antonio', sans-serif;
  }

@media (max-width: 500px) {
    button {
        all: unset
    }

    .container-btn-array-col {
        display: none;
    }

    .container-btn-array-row {
        border-bottom: 2px solid rgba(151, 151, 151, 0.2);
        display: flex;
    }

    .container-btn-array-row > * {
        flex-basis: calc(100% / 3);
    }
    .container-btn-array-row button {
        display: flex;
        justify-content: center;
    }

    .container-btn-array-row button span {
        display: none;
    }

    .container-btn-array-row button a {
        text-decoration: none;
        font-weight: 700;
        padding: 15px 0;
        color: rgba(151, 151, 151, 0.5);
        text-transform: uppercase;
        font-size: 9px;
        width: 100%;
        display: flex;
        justify-content: center;
    }



    .btn-active-mercury {
        position: relative;
    }
    .btn-active-venus {
        position: relative;
    }
    .btn-active-earth {
        position: relative;
    }
    .btn-active-mars {
        position: relative;
    }
    .btn-active-jupiter {
        position: relative;
    }
    .btn-active-saturn {
        position: relative;
    }
    .btn-active-uranus {
        position: relative;
    }
    .btn-active-neptune {
        position: relative;
        
    }

    .btn-active-mercury::after {
        background-color: var(--blue-lighter);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-venus::after {
        background-color: var(--yellow);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-earth::after {
        background-color:  var(--purple);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-mars::after {
        background-color: var(--red-light);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-jupiter::after {
        background-color:  var(--red);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-saturn::after {
        background-color: var(--orange);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-uranus::after {
        background-color: var(--cyan);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-active-neptune::after {
        background-color:  var(--blue-lighter);
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
}