@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

:root {
    --blue-grey: #38384F;
    --blue-dark: #070724;
    --blue-light: #2d68f0;
    --blue-lighter: #419EBB;
    --cyan: #1ec2a4;
    --grey: #838391;
    --yellow: #EDA249;
    --purple: #6f2ed6;
    --red-light: #D14C32;
    --red: #D83A34;
    --orange: #CD5120;
    --ff-primary: 'Spartan', sans-serif;
    --ff-secondary: 'Antonio', sans-serif;
    --fs-100: 0.6875rem;
    --fs-400: 0.875rem; 
    --fs-800: 2.5rem;
    --fs-900: 5rem;
  }

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    padding: 0 20px;

    @media all and (min-width: 481px) and (max-width: 650px) {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
        flex-wrap: nowrap;
      }

    align-items: center;
    font-family: var(--ff-primary);

    & > button, nav:last-child {
        display: none;
    }

    @media  (max-width: 480px){
        & nav:first-of-type {
            display: none;
        }

        padding: 0;
        border: none;

        & > div {
            padding: 0 20px;
        }

        & > button {
            padding: 0 20px;
            margin: 0;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            display: block;

            & > div {
                height: 17px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    & > div {
                        width: 100%;
                        height: 3px;
                        background-color: #555;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: #555;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        &::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: #555;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }


            }
        }

        & > nav:last-child {
            flex-basis: 100%;
            padding-top: 40px;
            background-color: var(--blue-dark);
            min-height: 80vh;
            


            &::before {
                content: "";
                position: absolute;
                top: 90px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: rgba(151, 151, 151, 0.1);
            }

            & ul {
                list-style: none;

                & li:nth-child(1) a > span { background-color: var(--blue-lighter); };
                & li:nth-child(2) a > span { background-color: var(--yellow); }
                & li:nth-child(3) a > span { background-color: var(--purple); }
                & li:nth-child(4) a > span { background-color: var(--red-light); }
                & li:nth-child(5) a > span { background-color: var(--red); }
                & li:nth-child(6) a > span { background-color: var(--orange); }
                & li:nth-child(7) a > span { background-color: var(--cyan); }
                & li:nth-child(8) a > span { background-color: var(--blue-lighter); }

                & li {
                    border-bottom: 1px solid rgba(151, 151, 151, 0.1);

                    & a {
                        padding: 15px 0;
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        font-weight: 700;
                        display: flex;  

                        & span {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            margin-right: 15px;
                            align-self: flex-start;
                        }

                        & i {
                            flex-grow: 1;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                            color: white;
                            
                        }
                    }
                }

            }

        }
      }

    & div {
        font-family: var(--ff-secondary);
        font-size: 1.7rem;
        text-transform: uppercase;
        color: white;

        @media all and  (min-width: 481px) and  (max-width: 650px){
            margin-bottom: 30px;
          }
    }

    & nav:first-of-type {

        font-weight: bold;
        

        & ul {
            display: flex;
            flex-wrap: wrap;
            
            @media all and (min-width: 481px) and  (max-width: 650px) {
                justify-content: center;
                

              }
            
              

            & li:nth-child(1) a::after { background-color: var(--blue-lighter); };
            & li:nth-child(2) a::after { background-color: var(--yellow); }
            & li:nth-child(3) a::after { background-color: var(--purple); }
            & li:nth-child(4) a::after { background-color: var(--red-light); }
            & li:nth-child(5) a::after { background-color: var(--red); }
            & li:nth-child(6) a::after { background-color: var(--orange); }
            & li:nth-child(7) a::after { background-color: var(--cyan); }
            & li:nth-child(8) a::after { background-color: var(--blue-lighter); }

            & li {
                list-style: none;


                
                & a {
                    position: relative;
                    display: block;
                    cursor: pointer;
                    padding: 30px 25px;
                    text-transform: uppercase;
                    font-size: 11px;
                    text-decoration: none;
                    color: var(--grey);


                    &::after {
                        content: "";
                        height: 3px;
                        width: calc(100% - 25px);
                        position: absolute;
                        top: 0px;
                        left: 25px;
                        visibility: hidden;
                       
                    }


                    &:hover::after {
                        visibility: visible;
                      }
                }
            }
        }
    }
}

